@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

label {
    margin-bottom: 0px;
    font-size: 12px;
}

.form-50 {
    display: inline;
}

.home-caption {
    font-size: 13px;
    margin: 10px auto;
    text-align: center;
    width: 95px;
    line-height: 1.1;
}

img {
  width: 100%;
  border-radius: 3px;
  max-height: 300px;
  object-fit: cover;
}

.temp {
    font-size: 11px;
    margin: 5px auto;
    text-align: center;
    width: 52px;
    line-height: 1.1;
    font-weight: 500;
}